.root {
    background-color: var(--grey-bg);
    border-radius: 32px;
    max-height: fit-content;
    padding: 52px;
}

h1 {
    color: var(--primary-color);
}

.back {
    font-size: 20px;
    cursor: pointer;
    color: #9A9A9A;
}

.table {
    overflow-x: scroll;
    -webkit-box-shadow: inset -100px -9px 92px -72px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset -100px -9px 92px -72px rgba(255, 255, 255, 1);
    box-shadow: inset -100px -9px 92px -72px rgba(255, 255, 255, 1);
}
